<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="brand-info.css" />
        <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />

        <title>brand-info</title>
    </head>
    <body>
        <section class="brand-info">
            <div class="brand-info-title">
                <div class="title-line web-only"></div>
                <h3>WHY KARLY</h3>
                <div class="title-line"></div>
            </div>
            <div class="info-card-section">
                <div class="brand-info-card">
                    <!-- brand-info-icon -->
                    <svg class="brand-info-icon" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_217_2880)">
                            <path
                                d="M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60Z"
                                fill="#5F0080"
                            />
                            <path
                                d="M41.6998 14.4004H18.2998C17.4714 14.4004 16.7998 15.072 16.7998 15.9004V44.1004C16.7998 44.9288 17.4714 45.6004 18.2998 45.6004H41.6998C42.5282 45.6004 43.1998 44.9288 43.1998 44.1004V15.9004C43.1998 15.072 42.5282 14.4004 41.6998 14.4004Z"
                                stroke="white"
                            />
                            <path
                                d="M21.5996 21.7964L23.4448 24.0004L26.3996 20.4004"
                                stroke="white"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path d="M30 22.2002H38.4" stroke="white" stroke-linecap="round" />
                            <path
                                d="M21.5996 29.5962L23.4448 31.8002L26.3996 28.2002"
                                stroke="white"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path d="M30 30H38.4" stroke="white" stroke-linecap="round" />
                            <path d="M21.5996 37.396L23.4448 39.6L26.3996 36" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M30 37.7998H38.4" stroke="white" stroke-linecap="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_217_2880">
                                <rect width="60" height="60" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <div class="brand-info-detail">
                        <h4>깐깐한 상품위원회</h4>
                        <p>
                            나와 내 가족이 먹고 쓸 상품을 고르는 마음으로 매주 상품을 직접 먹어보고, 경험해보고 성분, 맛 안정성 등 다각도의 기준을
                            통과한 상품만을 판매합니다.
                        </p>
                    </div>
                </div>

                <!-- 차별화  -->
                <div class="brand-info-card">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_217_2900)">
                            <path
                                d="M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60Z"
                                fill="#5F0080"
                            />
                            <path
                                d="M44.1004 16.7998H15.9004C15.072 16.7998 14.4004 17.4714 14.4004 18.2998V20.0998C14.4004 20.9282 15.072 21.5998 15.9004 21.5998H44.1004C44.9288 21.5998 45.6004 20.9282 45.6004 20.0998V18.2998C45.6004 17.4714 44.9288 16.7998 44.1004 16.7998Z"
                                stroke="white"
                                stroke-linejoin="round"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M15.5996 21.5996H44.3996V41.9996C44.3996 42.6623 43.8624 43.1996 43.1996 43.1996H16.7996C16.1369 43.1996 15.5996 42.6623 15.5996 41.9996V21.5996Z"
                                stroke="white"
                                stroke-linejoin="round"
                            />
                            <path d="M27 27.5996V36.5996" stroke="white" stroke-linecap="round" />
                            <path d="M28.9502 31.5596L33.4502 36.3596" stroke="white" stroke-linecap="round" />
                            <path d="M33 27.96L27 32.6269" stroke="white" stroke-linecap="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_217_2900">
                                <rect width="60" height="60" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <div class="brand-info-detail">
                        <h4>차별화된 Karly Only 상품</h4>
                        <p>
                            전국 각지와 해외의 훌륭한 생산자가 믿고 선택하는 파트너, 마켓칼리. 3천여 개가 넘는 칼리 단독 브랜드, 스펙의 Karly Only
                            상품을 믿고 만나보세요.
                        </p>
                    </div>
                </div>

                <!-- 신선배송 -->
                <div class="brand-info-card">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_217_2916)">
                            <path
                                d="M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60Z"
                                fill="#5F0080"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M11.9998 18H35.9998C36.6625 18 37.1998 18.5373 37.1998 19.2V38.4H11.9998C11.3371 38.4 10.7998 37.8627 10.7998 37.2V19.2C10.7998 18.5373 11.3371 18 11.9998 18Z"
                                stroke="white"
                                stroke-linejoin="round"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M37.2002 27.5996H51.6002V37.1996C51.6002 37.8624 51.0629 38.3996 50.4002 38.3996H37.2002V27.5996Z"
                                stroke="white"
                                stroke-linejoin="round"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M37.2002 22.7998H47.1043C47.4642 22.7998 47.8051 22.9614 48.033 23.2399L51.6002 27.5998H37.2002V22.7998Z"
                                stroke="white"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M18.0004 43.2C19.9886 43.2 21.6004 41.5882 21.6004 39.6C21.6004 37.6118 19.9886 36 18.0004 36C16.0122 36 14.4004 37.6118 14.4004 39.6C14.4004 41.5882 16.0122 43.2 18.0004 43.2Z"
                                fill="#5F0080"
                                stroke="white"
                            />
                            <path
                                d="M44.3998 43.2C46.388 43.2 47.9998 41.5882 47.9998 39.6C47.9998 37.6118 46.388 36 44.3998 36C42.4116 36 40.7998 37.6118 40.7998 39.6C40.7998 41.5882 42.4116 43.2 44.3998 43.2Z"
                                fill="#5F0080"
                                stroke="white"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_217_2916">
                                <rect width="60" height="60" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <div class="brand-info-detail">
                        <h4>신선한 풀콜드체인 배송</h4>
                        <p>
                            온라인 업계 최초로 산지에서 문 앞까지 상온, 냉장, 냉동 상품을 분리 포장 후 최적의 온도를 유지하는 냉장 배송 시스템,
                            풀콜드체인으로 상품을 신선하게 전해드립니다.
                        </p>
                    </div>
                </div>

                <!-- 고객, 생산자를 위한 최선의 가격 -->
                <div class="brand-info-card">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_217_2931)">
                            <path
                                d="M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60Z"
                                fill="#5F0080"
                            />
                            <path
                                d="M28.8002 43.2C37.4158 43.2 44.4002 36.2156 44.4002 27.6C44.4002 18.9844 37.4158 12 28.8002 12C20.1846 12 13.2002 18.9844 13.2002 27.6C13.2002 36.2156 20.1846 43.2 28.8002 43.2Z"
                                fill="#5F0080"
                                stroke="white"
                            />
                            <path
                                d="M21.6006 22.7998L25.2006 33.5998L28.8006 22.7998L32.4006 33.5998L36.0006 22.7998"
                                stroke="white"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M22.0502 26.3994H19.9502C19.536 26.3994 19.2002 26.7352 19.2002 27.1494C19.2002 27.5636 19.536 27.8994 19.9502 27.8994H22.0502C22.4644 27.8994 22.8002 27.5636 22.8002 27.1494C22.8002 26.7352 22.4644 26.3994 22.0502 26.3994Z"
                                fill="white"
                            />
                            <path
                                d="M37.6498 26.3994H35.5498C35.1356 26.3994 34.7998 26.7352 34.7998 27.1494C34.7998 27.5636 35.1356 27.8994 35.5498 27.8994H37.6498C38.064 27.8994 38.3998 27.5636 38.3998 27.1494C38.3998 26.7352 38.064 26.3994 37.6498 26.3994Z"
                                fill="white"
                            />
                            <path
                                d="M39.7451 38.0488L46.6876 44.9913C47.071 45.3748 47.1919 45.8755 46.9576 46.1098L46.1091 46.9584C45.8748 47.1927 45.374 47.0718 44.9906 46.6884L38.0481 39.7459"
                                stroke="white"
                                stroke-linejoin="round"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_217_2931">
                                <rect width="60" height="60" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <div class="brand-info-detail">
                        <h4>고객, 생산자를 위한 최선의 가격</h4>
                        <p>
                            매주 대형 마트와 주요 온라인 마트의 가격변동 상황을 확인해 신선식품은 품질을 타협하지 않는 선에서 최선의 가격으로,
                            가공식품은 언제나 합리적인 가격으로 정기 조정합니다.
                        </p>
                    </div>
                </div>

                <!-- 지속 가능한 유통 -->
                <div class="brand-info-card">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_217_2946)">
                            <path
                                d="M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60Z"
                                fill="#5F0080"
                            />
                            <path
                                d="M30.0004 33.6004C31.9886 33.6004 33.6004 31.9886 33.6004 30.0004C33.6004 28.0122 31.9886 26.4004 30.0004 26.4004C28.0122 26.4004 26.4004 28.0122 26.4004 30.0004C26.4004 31.9886 28.0122 33.6004 30.0004 33.6004Z"
                                stroke="white"
                            />
                            <path
                                d="M20.502 24.7429L26.946 13.5829C28.626 10.6729 31.3752 10.6729 33.054 13.5829L37.5324 21.3385"
                                stroke="white"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M37.6526 16.6924V19.1188V21.5452L35.5514 20.332L33.4502 19.1188"
                                stroke="white"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M29.2585 42.478H16.3717C13.0117 42.478 11.6365 40.0972 13.3165 37.1872L17.7949 29.4316"
                                stroke="white"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M13.7109 31.65L15.8121 30.4368L17.9133 29.2236V31.65V34.0764"
                                stroke="white"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M40.2399 26.0303L46.6839 37.1915C48.3639 40.1015 46.9887 42.4811 43.6287 42.4811H34.6719"
                                stroke="white"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M38.635 44.9085L36.5338 43.6953L34.4326 42.4821L36.5338 41.2689L38.635 40.0557"
                                stroke="white"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_217_2946">
                                <rect width="60" height="60" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <div class="brand-info-detail">
                        <h4>환경을 생각하는 지속 가능한 유통</h4>
                        <p>
                            친환경 포장재부터 생산자가 상품에만 집중할 수 있는 직매입 유통구조까지, 지속 가능한 유통을 고민하며 컬리를 있게하는 모든
                            환경(생산자,커뮤니티,직원)이 더 나아질 수 있도록 노력합니다.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
