<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="cart-section.css" />
        <link rel="icon" href="/public/image/icon/favicon.ico" />

        <title>cart-section</title>
    </head>
    <body>
        <div class="cart-section">
            <form action="#" class="cart-form">
                <fieldset>
                    <legend class="sr-only">하트</legend>
                    <input type="checkbox" id="item-like" name="like" class="item-like" />
                    <label for="item-like" class="sr-only">하트</label>
                </fieldset>
                <fieldset>
                    <legend class="sr-only">알림 설정</legend>
                    <input type="checkbox" id="item-alarm" name="alarm" class="item-alarm" />
                    <label for="item-alarm" class="sr-only">알람 설정</label>
                </fieldset>
            </form>
            <button type="button" class="cart-action">
                <span class="cart-action-mobile">구매하기</span>
                <span class="cart-action-web">장바구니 담기</span>
            </button>
        </div>
    </body>
</html>
