<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="detail-nav.css" />
        <link rel="icon" href="/public/image/icon/favicon.ico" />

        <title>detail-nav</title>
    </head>
    <body>
        <nav class="detail-nav">
            <ul>
                <li class="detail-nav-list detail-nav-item">
                    <a href="#detail-info" class="detail-nav-title">
                        상품설명
                        <span class="detail-nav-border"></span>
                    </a>
                </li>
                <li class="detail-nav-list detail-nav-more">
                    <a href="#" class="detail-nav-title">
                        상세정보
                        <span class="detail-nav-border"></span>
                    </a>
                </li>
                <li class="detail-nav-list detail-nav-review">
                    <a href="#" class="detail-nav-title">
                        <div class="detail-nav-review">
                            후기
                            <span class="detail-nav-count">4,540</span>
                        </div>
                        <span class="detail-nav-border"></span>
                    </a>
                </li>
                <li class="detail-nav-list detail-nav-contact">
                    <a href="#" class="detail-nav-title">
                        문의
                        <span class="detail-nav-border"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </body>
</html>
