<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="detail-header.css" />

        <title>detail-header</title>
    </head>
    <body>
        <header class="detail-header">
            <!-- SEO & previous page -->
            <div class="contents">
                <!-- header(SEO) -->
                <h1 class="sr-only">마켓컬리 - 풀무원 탱탱쫄면 4입 상세 페이지</h1>

                <!-- back-button -->
                <a href="javascript:window.history.back();" class="back-button">
                    <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 1.79799L10.2153 0L0.494453 9.79907C0.337758 9.95609 0.213403 10.1428 0.128545 10.3485C0.0436863 10.5541 0 10.7747 0 10.9975C0 11.2202 0.0436863 11.4408 0.128545 11.6464C0.213403 11.8521 0.337758 12.0388 0.494453 12.1958L10.2153 22L11.9983 20.202L2.87462 11L12 1.79799Z"
                            fill="#222222"
                        />
                    </svg>
                </a>
            </div>

            <!-- item-title -->
            <h2 class="header-title">[풀무원] 탱탱쫄면 4입</h2>

            <!-- icon group -->
            <div class="header-icons">
                <a href="#">
                    <!-- search icon -->
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_217_2857)">
                            <path
                                d="M29 29L21.6667 21.6667M7 15.5556C7 16.6791 7.2213 17.7916 7.65125 18.8296C8.08121 19.8676 8.71141 20.8108 9.50586 21.6052C10.3003 22.3997 11.2435 23.0299 12.2815 23.4599C13.3195 23.8898 14.432 24.1111 15.5556 24.1111C16.6791 24.1111 17.7916 23.8898 18.8296 23.4599C19.8676 23.0299 20.8108 22.3997 21.6052 21.6052C22.3997 20.8108 23.0299 19.8676 23.4599 18.8296C23.8898 17.7916 24.1111 16.6791 24.1111 15.5556C24.1111 14.432 23.8898 13.3195 23.4599 12.2815C23.0299 11.2435 22.3997 10.3003 21.6052 9.50586C20.8108 8.71141 19.8676 8.08121 18.8296 7.65125C17.7916 7.2213 16.6791 7 15.5556 7C14.432 7 13.3195 7.2213 12.2815 7.65125C11.2435 8.08121 10.3003 8.71141 9.50586 9.50586C8.71141 10.3003 8.08121 11.2435 7.65125 12.2815C7.2213 13.3195 7 14.432 7 15.5556Z"
                                stroke="black"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_217_2857">
                                <rect width="36" height="36" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>

                <!-- cart icon -->
                <a href="#">
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_42_667)">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M30.8442 10.207L28.1242 21.777H12.5342L9.82422 10.207H30.8442Z"
                                stroke-width="1.7"
                                stroke-linecap="square"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M25.6839 29.467C26.8658 29.467 27.8239 28.5089 27.8239 27.327C27.8239 26.1451 26.8658 25.187 25.6839 25.187C24.5021 25.187 23.5439 26.1451 23.5439 27.327C23.5439 28.5089 24.5021 29.467 25.6839 29.467Z"
                                stroke-width="1.7"
                                stroke-linecap="square"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M14.974 29.467C16.1559 29.467 17.114 28.5089 17.114 27.327C17.114 26.1451 16.1559 25.187 14.974 25.187C13.7921 25.187 12.834 26.1451 12.834 27.327C12.834 28.5089 13.7921 29.467 14.974 29.467Z"
                                stroke-width="1.7"
                                stroke-linecap="square"
                                stroke-linejoin="round"
                            />
                            <path d="M5.16406 6.547H8.96406L10.7241 14.047" stroke-width="1.7" stroke-linecap="square" stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_42_667">
                                <rect width="36" height="36" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>
        </header>
    </body>
</html>
