<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="detail-info.css" />

        <title>detail-info</title>
    </head>
    <body>
        <div class="detail-info">
            <div class="item-wrapper">
                <figure class="item-pic">
                    <figcaption class="sr-only">탱탱쫄면의 상품 사진</figcaption>
                </figure>
                <div class="item-name-wrapper">
                    <h2>튀기지 않아 부담 없는 매콤함</h2>
                    <h2 class="item-name">[풀무원] 탱탱쫄면</h2>
                </div>
                <p>
                    쫄면의 진가는 매콤새콤한 양념과 탱탱한 면발에서 찾을 수 있지요. 풀무원은 이 맛을 더 부담 없이 즐길 수 있도록 튀기지 않고 만든
                    탱탱쫄면을 선보입니다. 밀가루와 감자 전분을 적절히 배합해 탄력이 좋고, 입에 넣었을 때는 찰지게 씹히죠. 고추장을 넣어 숙성한
                    비빔장은 자연스럽고 깊은 맛을 냅니다. 간단하게 조리해 마지막 한 가닥까지 탱탱한 식감을 즐겨보세요. 취향에 따라 다양한 고명을 올려
                    드셔도 좋아요.
                </p>
            </div>
            <div class="check-point-wrapper">
                <div class="check-point-title">
                    <div class="line"></div>
                    <h3>Karly's Check Point</h3>
                    <div class="line"></div>
                </div>
                <figure class="check-point">
                    <figcaption class="sr-only">생산 유통 과정, 브랜드와 생산자, 활용법</figcaption>
                </figure>
            </div>
            <div class="nutrition-wrapper">
                <figure class="nutrition">
                    <figcaption class="sr-only">영양 정보</figcaption>
                </figure>
            </div>
        </div>
    </body>
</html>
