<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="event-info.css" />
        <link rel="icon" href="/public/image/icon/favicon.ico" />

        <title>event-info</title>
    </head>
    <body>
        <div class="event-info">
            <div class="event-more">
                <a href="#" class="event-name">✨주말특가<span>&gt;</span></a>
                <a href="#" class="event-mobile">전체보기 &gt;</a>
            </div>
            <p class="about-sale">단 77시간 한정 타임 혜택</p>
            <div class="clock">
                <div class="clock-icon-mobile grid lg:hidden">
                    <svg
                        class="row-start-1 col-start-1 row-end-2 col-end-2"
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0 11C0 4.92496 4.92496 0 11 0C17.075 0 22 4.92496 22 11C22 17.075 17.075 22 11 22C4.92496 22 0 17.075 0 11Z"
                            fill="#BD76FF"
                        />
                        <path
                            d="M10 4.75C10 4.33579 10.3358 4 10.75 4C11.1642 4 11.5 4.33579 11.5 4.75V10.25C11.5 10.6642 11.1642 11 10.75 11C10.3358 11 10 10.6642 10 10.25V4.75Z"
                            fill="white"
                        />
                    </svg>
                    <svg
                        class="clock-moving-mobile row-start-1 col-start-1 row-end-2 col-end-2"
                        width="22"
                        height="22"
                        viewBox="0 0 21 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <rect x="10" y="4" width="1.5" height="7" rx="0.75" fill="white" />
                    </svg>
                </div>
                <div class="clock-icon-web hidden lg:grid">
                    <svg
                        class="row-start-1 col-start-1 row-end-2 col-end-2"
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0 16C0 7.16357 7.16357 0 16 0C24.8364 0 32 7.16357 32 16C32 24.8364 24.8364 32 16 32C7.16357 32 0 24.8364 0 16Z"
                            fill="#BD76FF"
                        />
                        <path
                            d="M15 7C15 6.44771 15.4477 6 16 6C16.5523 6 17 6.44772 17 7V16C17 16.5523 16.5523 17 16 17C15.4477 17 15 16.5523 15 16V7Z"
                            fill="white"
                        />
                    </svg>
                    <svg
                        class="clock-moving-web row-start-1 col-start-1 row-end-2 col-end-2"
                        width="32"
                        height="32"
                        viewBox="0 0 30 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <rect x="15" y="6" width="2" height="11" rx="1" fill="white" />
                    </svg>
                </div>
                <p>77:00:00</p>
            </div>
        </div>
    </body>
</html>
