<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="item-img.css" />

        <title>item-img</title>
    </head>
    <body>
        <div class="item-img">
            <div class="item-img-box">
                <ul class="promo-list">
                    <li class="promo">+10%쿠폰</li>
                    <li class="promo">주말특가</li>
                    <li class="promo">멤버스특가</li>
                </ul>

                <div class="sale-info"><span>장보기</span> <span>특가</span></div>

                <div class="item-save">
                    <p>최대혜택가: 10,103원~</p>
                </div>
            </div>

            <button class="item-keep">
                <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M3.8478 3.35707H19.2764L17.3478 11.7142H5.77637L3.20494 0.785645H1.27637"
                        stroke="#222222"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M16.0621 16.214C16.7722 16.214 17.3478 15.6384 17.3478 14.9283C17.3478 14.2182 16.7722 13.6426 16.0621 13.6426C15.352 13.6426 14.7764 14.2182 14.7764 14.9283C14.7764 15.6384 15.352 16.214 16.0621 16.214Z"
                        stroke="#222222"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M7.7049 16.214C8.41498 16.214 8.99062 15.6384 8.99062 14.9283C8.99062 14.2182 8.41498 13.6426 7.7049 13.6426C6.99482 13.6426 6.41919 14.2182 6.41919 14.9283C6.41919 15.6384 6.99482 16.214 7.7049 16.214Z"
                        stroke="#222222"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>

                <span>담기</span>
            </button>
        </div>
    </body>
</html>
