<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="item-detail.css" />
        <title>item-detail</title>
    </head>
    <body>
        <!-- 전체 -->
        <div class="item-detail">
            <!-- 제품 이미지 -->
            <figure>
                <figcaption class="sr-only">탱탱쫄면 이미지</figcaption>
                <div class="item-img"></div>
            </figure>

            <div class="info">
                <!-- 가격 및 정보 -->
                <div class="info-box">
                    <p class="driver">샛별배송</p>

                    <section class="info">
                        <h2 class="title">[풀무원] 탱탱쫄면 (4개입)</h2>
                        <p class="title-info">튀기지 않아 부담 없는 매콤함</p>

                        <a class="save-icon" href="#">
                            <svg width="20" height="26" viewBox="0 0 22 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 10.8496H18.5C19.163 10.8496 19.7989 11.113 20.2678 11.5818C20.7366 12.0507 21 12.6866 21 13.3496V25.3496C21 26.0127 20.7366 26.6485 20.2678 27.1174C19.7989 27.5862 19.163 27.8496 18.5 27.8496H3.5C2.83696 27.8496 2.20107 27.5862 1.73223 27.1174C1.26339 26.6485 1 26.0127 1 25.3496V13.3496C1 12.6866 1.26339 12.0507 1.73223 11.5818C2.20107 11.113 2.83696 10.8496 3.5 10.8496H6M16 6.84961L11 1.84961M11 1.84961L6 6.84961M11 1.84961V18.9121"
                                    stroke="black"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </a>
                    </section>

                    <p class="price">4,980 원</p>
                    <p class="reward-info">로그인 후 적립 혜택이 적용됩니다.</p>
                </div>

                <!-- 배송 & 판매자 (모바일 버전에만 보여야함)-->
                <div class="item-deail-info mobile-only">
                    <section class="item-deail-box">
                        <h3 class="sub-title">배송</h3>
                        <div>
                            <span class="bold text-sm">샛별배송</span>
                            <span>23시 전 주문 시 내일 아침 7시 전 도착</span>
                            <span>(대구 부산 울산 샛별배송 운영시간 별도 확인)</span>
                        </div>
                    </section>

                    <section class="item-deail-box">
                        <h3 class="sub-title">판매자</h3>
                        <div>
                            <span class="bold">칼리</span>
                        </div>
                    </section>
                </div>

                <!-- 제품 상세 정보 -->
                <div class="item-deail-info">
                    <section class="item-deail-box pc-only">
                        <h3 class="sub-title">배송</h3>
                        <div>
                            <span class="bold text-sm">샛별배송</span>
                            <span>23시 전 주문 시 내일 아침 7시 전 도착</span>
                            <span>(대구 부산 울산 샛별배송 운영시간 별도 확인)</span>
                        </div>
                    </section>

                    <section class="item-deail-box pc-only">
                        <h3 class="sub-title">판매자</h3>
                        <div>
                            <span class="bold">칼리</span>
                        </div>
                    </section>

                    <p class="title">상품정보</p>

                    <section class="item-deail-box">
                        <h3 class="sub-title">포장 타입</h3>
                        <div>
                            <span class="bold text-sm">상온(종이포장)</span>
                            <span>택배배송은 에코 포장이 스티로폼으로 대체됩니다.</span>
                        </div>
                    </section>

                    <section class="item-deail-box">
                        <h3 class="sub-title">판매단위</h3>
                        <div>
                            <span class="bold">1봉</span>
                        </div>
                    </section>

                    <section class="item-deail-box">
                        <h3 class="sub-title">중량/용량</h3>
                        <div>
                            <span class="bold">123g*4봉</span>
                        </div>
                    </section>

                    <section class="item-deail-box">
                        <h3 class="sub-title">원산지</h3>
                        <div>
                            <span class="bold">상세페이지 별도 표기</span>
                        </div>
                    </section>

                    <section class="item-deail-box">
                        <h3 class="sub-title">알레르기 정보</h3>
                        <div>
                            <span>-대두, 밀, 쇠고기 함유</span>
                            <span
                                >-계란, 우유, 메밀, 땅콩, 고등어, 게, 돼지고기, 새우, 복숭아, 토마토, 아황산류, 호두, 잣, 닭고기, 오징어, 조개류(굴,
                                전복, 홍합 포함)를 사용한 제품과 같은 제조시설에서 제조</span
                            >
                        </div>
                    </section>

                    <section class="item-deail-box item-choose">
                        <h3 class="sub-title">상품선택</h3>
                        <div class="item-choose-box">
                            <span>[풀무원] 탱탱쫄면 (4개입)</span>
                            <form action="/" class="item-choose-count">
                                <fieldset>
                                    <legend class="sr-only">상품 수량 선택창</legend>
                                    <button type="button" class="button-down">-</button>
                                    <input type="number" id="item-number" required min="1" max="10" step="1" value="1" />
                                    <label for="item-number" class="sr-only">제품 구매 개수</label>
                                    <button type="button" class="button-up">+</button>
                                </fieldset>
                            </form>
                            <span class="price">4,980원</span>
                        </div>
                    </section>

                    <div class="total-price">
                        <div>
                            <span class="all-price">총 상품금액:</span>
                            <span class="all-price-number">4,980</span>
                            <span class="unit"> 원</span>
                        </div>

                        <div>
                            <span class="point-save">적립</span>
                            <span class="login-point-save">로그인 후,적립 혜택 제공</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const input = document.getElementById('item-number');
                const btnUp = document.querySelector('.button-up');
                const btnDown = document.querySelector('.button-down');

                btnUp.addEventListener('click', function () {
                    let currentValue = parseInt(input.value) || 1;
                    if (currentValue < parseInt(input.max)) {
                        input.value = currentValue + parseInt(input.step);
                    }
                });

                btnDown.addEventListener('click', function () {
                    let currentValue = parseInt(input.value) || 1;
                    if (currentValue > parseInt(input.min)) {
                        input.value = currentValue - parseInt(input.step);
                    }
                });
            });
        </script>
    </body>
</html>
