@import 'tailwindcss';
@import '../style.css';

@layer components {
    /* 최상위 컨테이너 */
    .list-side-panel {
        @apply w-full inline-flex justify-start gap-2 overflow-auto;

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* 컴포넌트 주요 설정 */
    .side-panel-item {
        @apply px-3 py-2 border border-ui-gray-light rounded-2xl text-ui-gray-mid text-xs flex flex-col shrink-0;

        .side-panel-title {
            @apply flex flex-row items-center gap-1;
        }

        .side-panel-list {
            @apply py-2 hidden;
        }

        .list-wrapper,
        ul.brand {
            @apply flex flex-col gap-2;
        }

        .list {
            @apply flex;
        }

        .list-check {
            @apply w-4 aspect-square mr-2 appearance-none;

            background-image: url(/public/image/icon/unchecked.svg);
            background-size: cover;

            &:checked {
                background-image: url(/public/image/icon/checked.svg);
            }
        }

        .list-radio {
            @apply w-4 aspect-square mr-2 appearance-none;

            background-image: url(/public/image/icon/unsellected.svg);
            background-size: cover;

            &:checked {
                background-image: url(/public/image/icon/sellected.svg);
            }
        }

        .list-title {
            @apply text-ui-black;
        }

        .list-count {
            @apply ml-1 text-[.625rem] leading-3.5;
        }

        /* 브랜드 카테고리 전용 */
        .brand-title {
            @apply grid items-center w-4 aspect-square;
        }

        .brand-type {
            @apply row-start-1 col-start-1 row-end-2 col-end-2 z-1 text-center text-[.625rem];
        }

        .brand-select {
            @apply w-4 aspect-square appearance-none row-start-1 col-start-1 row-end-2 col-end-2;
            background-image: url(/public/image/icon/default-brand-category.svg);
            background-size: cover;
        }
    }
}
