<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="list-side-panel.css" />
        <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
        <title>list-side-panel</title>
    </head>
    <body>
        <!-- 컴포넌트 -->
        <div class="list-side-panel">
            <details class="side-panel-item category">
                <summary class="side-panel-title">
                    카테고리
                    <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.594289 -1.84936e-07L-5.19753e-05 0.594902L3.23911 3.83518C3.29101 3.88741 3.35273 3.92887 3.42071 3.95715C3.4887 3.98544 3.56161 4 3.63524 4C3.70888 4 3.78178 3.98544 3.84977 3.95715C3.91775 3.92887 3.97947 3.88741 4.03138 3.83518L7.27222 0.594901L6.67788 0.00056031L3.63608 3.04179L0.594289 -1.84936e-07Z"
                            fill="#848F9A"
                        />
                    </svg>
                </summary>
                <form class="side-panel-list" action="/">
                    <fieldset>
                        <legend class="sr-only">카테고리</legend>
                        <ul class="list-wrapper">
                            <li class="list">
                                <input type="checkbox" id="list-01" class="list-check" />
                                <label for="list-01" class="list-title">떡볶이/튀김/순대</label>
                                <span class="list-count">89</span>
                            </li>
                            <li class="list">
                                <input type="checkbox" id="list-02" class="list-check" />
                                <label for="list-02" class="list-title">파스타/면류/조리용 떡</label>
                                <span class="list-count">17</span>
                            </li>
                            <li class="list">
                                <input type="checkbox" id="list-03" class="list-check" />
                                <label for="list-03" class="list-title">양념/액젓/장류</label>
                                <span class="list-count">17</span>
                            </li>
                            <li class="list">
                                <input type="checkbox" id="list-04" class="list-check" />
                                <label for="list-04" class="list-title">떡/한과</label>
                                <span class="list-count">13</span>
                            </li>
                            <li class="list">
                                <input type="checkbox" id="list-05" class="list-check" />
                                <label for="list-05" class="list-title">여성의류</label>
                                <span class="list-count">10</span>
                            </li>
                        </ul>
                    </fieldset>
                </form>
            </details>
        </div>
        <div class="list-side-panel">
            <details class="side-panel-item delivery">
                <summary class="side-panel-title">
                    배송
                    <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.594289 -1.84936e-07L-5.19753e-05 0.594902L3.23911 3.83518C3.29101 3.88741 3.35273 3.92887 3.42071 3.95715C3.4887 3.98544 3.56161 4 3.63524 4C3.70888 4 3.78178 3.98544 3.84977 3.95715C3.91775 3.92887 3.97947 3.88741 4.03138 3.83518L7.27222 0.594901L6.67788 0.00056031L3.63608 3.04179L0.594289 -1.84936e-07Z"
                            fill="#848F9A"
                        />
                    </svg>
                </summary>
                <form class="side-panel-list" action="/">
                    <fieldset>
                        <legend class="sr-only">배송</legend>
                        <ul class="list-wrapper">
                            <li class="list">
                                <input type="checkbox" id="list-01" class="list-check" />
                                <label for="list-01" class="list-title">떡볶이/튀김/순대</label>
                                <span class="list-count">89</span>
                            </li>
                            <li class="list">
                                <input type="checkbox" id="list-02" class="list-check" />
                                <label for="list-02" class="list-title">파스타/면류/조리용 떡</label>
                                <span class="list-count">17</span>
                            </li>
                            <li class="list">
                                <input type="checkbox" id="list-03" class="list-check" />
                                <label for="list-03" class="list-title">양념/액젓/장류</label>
                                <span class="list-count">17</span>
                            </li>
                            <li class="list">
                                <input type="checkbox" id="list-04" class="list-check" />
                                <label for="list-04" class="list-title">떡/한과</label>
                                <span class="list-count">13</span>
                            </li>
                            <li class="list">
                                <input type="checkbox" id="list-05" class="list-check" />
                                <label for="list-05" class="list-title">여성의류</label>
                                <span class="list-count">10</span>
                            </li>
                        </ul>
                    </fieldset>
                </form>
            </details>
        </div>
    </body>
</html>
