<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="menu-list.css" />

        <title>menu-list</title>
    </head>
    <body>
        <div class="menu-list">
            <ul>
                <li>
                    <figure class="menu-item">
                        <div class="menu-icon bg-[url(/image/icon/icon-01.webp)]"></div>
                        <figcaption class="menu-txt">최저가도전</figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="menu-item">
                        <div class="menu-icon bg-[url(/image/icon/icon-02.webp)]"></div>
                        <figcaption class="menu-txt">멤버스특사</figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="menu-item">
                        <div class="menu-icon bg-[url(/image/icon/icon-03.webp)]"></div>
                        <figcaption class="menu-txt">홈&리빙</figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="menu-item">
                        <div class="menu-icon bg-[url(/image/icon/icon-04.webp)]"></div>
                        <figcaption class="menu-txt">패션</figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="menu-item">
                        <div class="menu-icon bg-[url(/image/icon/icon-05.webp)]"></div>
                        <figcaption class="menu-txt">선물추천</figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="menu-item">
                        <div class="menu-icon bg-[url(/image/icon/icon-06.webp)]"></div>
                        <figcaption class="menu-txt">라이브커머스</figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="menu-item">
                        <div class="menu-icon bg-[url(/image/icon/icon-07.webp)]"></div>
                        <figcaption class="menu-txt">컬리멤버스</figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="menu-item">
                        <div class="menu-icon bg-[url(/image/icon/icon-08.webp)]"></div>
                        <figcaption class="menu-txt">3월신상품</figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="menu-item">
                        <div class="menu-icon bg-[url(/image/icon/icon-09.webp)]"></div>
                        <figcaption class="menu-txt">행운출첵</figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="menu-item">
                        <div class="menu-icon bg-[url(/image/icon/icon-10.webp)]"></div>
                        <figcaption class="menu-txt">마이컬리팜</figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="menu-item">
                        <div class="menu-icon bg-[url(/image/icon/icon-11.webp)]"></div>
                        <figcaption class="menu-txt">컬리큐리이터</figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="menu-item">
                        <div class="menu-icon bg-[url(/image/icon/icon-12.webp)]"></div>
                        <figcaption class="menu-txt">레시피</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </body>
</html>
