<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="nav.css" />

        <title>nav</title>
    </head>
    <body>
        <nav class="nav">
            <ul>
                <li>
                    <button type="button">
                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_42_621)">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M0 0H16V1.7H0V0ZM0 6.15H16V7.85H0V6.15ZM0 12.3H16V14H0V12.3Z"
                                    fill="#5F0080"
                                />
                            </g>
                            <defs>
                                <clipPath id="clip0_42_621">
                                    <rect width="16" height="14" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        카테고리
                    </button>
                </li>
                <li><a href="#" tabindex="0">컬리추천</a></li>
                <li><a href="#" tabindex="0">베스트</a></li>
                <li><a href="#" tabindex="0">신상품</a></li>
                <li><a href="#" tabindex="0">알뜰쇼핑</a></li>
                <li><a href="#" tabindex="0">특가/혜택</a></li>
                <li>
                    <a href="#"><span>샛별&middot;낮</span> 배송안내</a>
                </li>
            </ul>
        </nav>
    </body>
</html>
