@import 'tailwindcss';
@import '../style.css';

@layer components {
    .nav {
        @apply text-ui-gray-dark text-[16px] w-full p-2 bg-white;

        padding-left: 10px;
        padding-right: 10px;

        ul {
            @apply flex justify-between text-center items-center text-sm;

            button {
                display: none;
            }

            li {
                @apply focus-within:text-ui-primary focus-within:font-bold border-white border-b-2 focus-within:border-ui-primary pb-2 pt-1.5;
            }

            li:first-child {
                display: none;
            }

            li:last-child {
                display: none;
            }
        }
    }

    @media (min-width: 1024px) {
        .nav {
            @apply justify-center m-4 text-[1rem] text-ui-gray-dark h-[4.5rem] w-[65.625rem] shadow-lg p-1.5 bg-white;

            ul {
                @apply font-bold flex justify-between p-2;

                li {
                    @apply hover:underline hover:text-ui-primary underline-offset-4 focus-within:text-ui-primary focus-within:border-0;
                }

                button {
                    @apply flex justify-center items-center pointer-events-auto cursor-pointer;

                    svg {
                        @apply pr-1;
                    }
                }

                li:first-child {
                    @apply block hover:no-underline;
                }

                li:nth-child(2) {
                    display: none;
                }

                li:nth-child(7) {
                    @apply block border-[#A6A6A6] border-1 text-[12px] rounded-2xl p-1 hover:no-underline hover:text-ui-gray-dark;

                    span {
                        @apply text-ui-primary;
                    }
                }
            }
        }
    }
}
