<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="pagination.css" />

        <title>pagination</title>
    </head>
    <body>
        <nav class="pagination" aria-label="페이지 네비게이션">
            <ul class="pagination-button">
                <li>
                    <a href="#"><img src="/public/image/icon/double_arrow.png" alt="첫 페이지로 이동" /></a>
                </li>
                <li>
                    <a href="#"><img src="/public/image/icon/arrow.png" alt="이전 페이지로 이동" /></a>
                </li>
                <li class="selected-page"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li>
                    <a href="#"><img class="rotate-180" src="/public/image/icon/arrow.png" alt="다음 페이지로 이동" /></a>
                </li>
                <li>
                    <a href="#"><img class="rotate-180" src="/public/image/icon/double_arrow.png" alt="마지막 페이지로 이동" /></a>
                </li>
            </ul>
        </nav>
    </body>
</html>
