<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/public/image/icon/favicon.ico" />
        <link rel="stylesheet" href="pagination-arrow.css" />

        <title>pagination-arrow</title>
    </head>
    <body>
        <nav class="pagination-arrow">
            <ul class="pagination-arrow-button">
                <li class="previous">
                    <a href="#">
                        <svg
                            class="이전 페이지로 이동"
                            width="10"
                            height="18"
                            viewBox="0 0 10 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            aria-label="이전 페이지로 이동"
                        >
                            <path d="M9 17L1 9L9 1" stroke="#E1E1E1" stroke-width="1.2" />
                        </svg>
                    </a>
                </li>
                <li class="next">
                    <a href="#">
                        <svg
                            class="rotate-180"
                            width="10"
                            height="18"
                            viewBox="0 0 10 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            aria-label="다음 페이지로 이동"
                        >
                            <path d="M9 17L1 9L9 1" stroke="#E1E1E1" stroke-width="1.2" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </body>
</html>
