<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="recent-view.css" />
        <link rel="icon" href="/public/image/icon/favicon.ico" />

        <title>event-info</title>
    </head>
    <body>
        <aside class="recent-view">
            <!-- 웹 접근성을 위해, h3 태그를 최상단에 배치했습니다. -->
            <h3 class="recent-view-title">최근 본 상품</h3>
            <!-- 이전을 의미하는 화살표 위치를 css 에서 order 로 변경했습니다. -->
            <button class="previous" type="button">
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="previous">
                    <path d="M1 5L5 1L9 5" stroke="#999999" stroke-width="1.2" />
                </svg>
            </button>
            <div class="recent-view-item-wrapper">
                <a href="#">
                    <picture class="recent-view-item item01">
                        <img src="/image/item-search/search-list-01.webp" alt="최근 본 상품 1" />
                    </picture>
                </a>
                <a href="#">
                    <picture class="recent-view-item item02">
                        <img src="/image/item-search/search-list-02.webp" alt="최근 본 상품 2" />
                    </picture>
                </a>
                <a href="#">
                    <picture class="recent-view-item item03">
                        <img src="/image/item-search/search-list-03.webp" alt="최근 본 상품 3" />
                    </picture>
                </a>
            </div>
            <button class="next" type="button">
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="next">
                    <path d="M1 5L5 1L9 5" stroke="#999999" stroke-width="1.2" />
                </svg>
            </button>
        </aside>
    </body>
</html>
