<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="section-tab.css" />
        <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
        <title>list-side-panel</title>
    </head>
    <body class="max-w-[65.625rem] mx-auto">
        <!-- section-tab // best -->
        <section class="section-tab">
            <h2>베스트</h2>
            <ul class="categories">
                <li><a href="#" class="clicked">TOP500</a></li>
                <li><a href="#">간편식사</a></li>
                <li><a href="#">신선코너</a></li>
                <li><a href="#">컬리정육점</a></li>
                <li><a href="#">컬리에만있는</a></li>
                <li><a href="#">인기급상승</a></li>
                <li><a href="#">생활필수품</a></li>
                <li><a href="#">직원추천상품</a></li>
            </ul>
        </section>

        <!-- section-tab // new-arrival -->
        <section class="section-tab">
            <h2>신상품</h2>
            <ul class="categories">
                <li><a href="#" class="clicked">인기신상랭킹</a></li>
                <li><a href="#">입점특가</a></li>
                <li><a href="#">요즘간식</a></li>
                <li><a href="#">간편한끼</a></li>
                <li><a href="#">주방&middot;리빙</a></li>
                <li><a href="#">뷰티</a></li>
                <li><a href="#">패션&middot;잡화</a></li>
                <li><a href="#"></a></li>
            </ul>
        </section>
    </body>
</html>
