<!doctype html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="sub-banner.css" />

        <title>sub-banner</title>
    </head>
    <body>
        <div class="sub-banner">
            <a class="banner-wrapper" href="#">
                <picture class="banner-img-01">
                    <source media="(max-width: 1023px)" srcset="/image/banner/sub-mobile.webp" />
                    <source media="(min-width: 1024px)" srcset="/image/banner/sub-web.webp" />
                    <img
                        class="banner-img"
                        src="/image/banner/sub-mobile.webp"
                        title="헤라 블랙 쿠션, 하이라이터 1:1 증정. 케이스, 리필 2개, 하이라이터까지 최대혜택가 5만원대!"
                        alt="헤라 화장품 광고 이미지"
                    />
                </picture>
            </a>
        </div>
    </body>
</html>
