@import 'tailwindcss';
@import '../style.css';

/* 전환 애니메이션 : 전역으로 선언*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    display: block !important; /* 👈 hidden 해제용 */
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: both;
}

@layer components {
    .index-contents {
        @apply w-[65.625rem] h-full mx-auto;

        .contents-section {
            @apply block w-full h-[75vh] bg-ui-white border border-ui-gray-light;
        }

        .card-radio {
            @apply fixed bottom-0 left-1/2 -translate-x-1/2 z-10 flex flex-row px-4 bg-ui-white rounded-t-xl;

            .card {
                @apply flex flex-col text-xl font-bold w-32 h-40 p-4 gap-6 z-0 mr-[-1.5rem] text-ui-primary border border-ui-primary rounded-t-xl bg-ui-white transition-all duration-300;
                @apply hover:text-ui-white hover:bg-gradient-to-b hover:from-ui-primary hover:to-ui-black hover:opacity-90 hover:border-0 hover:scale-120 hover:-translate-y-4;
                @apply has-checked:text-ui-white has-checked:bg-gradient-to-b has-checked:from-ui-primary has-checked:to-ui-black has-checked:opacity-90 has-checked:border-0 has-checked:scale-120 has-checked:-translate-y-4 has-checked:text-2xl;

                input {
                    @apply sr-only;
                }
                .card-title {
                    @apply text-lg;
                }
            }
        }
    }
}
