@import 'tailwindcss';

@layer components {

    .workflow {
        @apply w-[56.25rem] h-[34.375rem];

        &>.plan {

            @apply flex gap-[3.125rem];

            &>.work {
                .week {
                    @apply text-[1.5rem] text-[#5F0080] font-semibold;
                }

                .date {
                    @apply text-[1rem] font-normal text-[#000000];
                }

                &>.txt {
                    @apply flex flex-col gap-[12px] pt-[12px] border-t border-black;

                    &>.item {
                        @apply text-[1rem] font-normal;
                    }
                }

            }

        }

        &>.tools {

            margin-top: 60px;

            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            &>.item {
                display: flex;
                gap: 8px;
                text-align: center;
                justify-content: center;
                align-items: center;

                height: 28px;

                &>.title {
                    width: 90px;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }

    }
}