@import 'tailwindcss';

@theme {
  --font-sans: 'Pretendard Variable', sans-serif;
  --color-ui-black: #222222;
  --color-ui-blue: #BD76FF;
  --color-ui-category: #F2F5F8;
  --color-ui-gray-dark: #565E67;
  --color-ui-gray-light: #DFE4EB;
  --color-ui-gray-mid: #848F9A;
  --color-ui-memberssale: #4DBED7;
  --color-ui-mobilebtn-border: #DDDDDD;
  --color-ui-mobilebtn: #FCFCFC;
  --color-ui-primary-transparent: #6F1A8C;
  --color-ui-primary: #5F0080;
  --color-ui-sale: #FA622F;
  --color-ui-white: #FFFFFF
}